@font-face {
    font-family: 'Formular';
    src: local('Formular'),
        url('../../fonts/Formular.woff2') format('woff2'),
        url('../../fonts/Formular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Medium'), local('Formular-Medium'),
        url('../../fonts/Formular-Medium.woff2') format('woff2'),
        url('../../fonts/Formular-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Bold'), local('Formular-Bold'),
        url('../../fonts/Formular-Bold.woff2') format('woff2'),
        url('../../fonts/Formular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
